@model DAL.Models.EventDetails

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete Event</h2>

<h4>Are you sure you want to delete this event?</h4>

<div class="alert alert-danger">
    <p><strong>Name:</strong> @Model.EventName</p>
    <p><strong>ID:</strong> @Model.EventId</p>
</div>

<form method="post">
   

    <button class="btn btn-danger">Delete</button>
    <a asp-action="EventList" class="btn btn-secondary">Cancel</a>
</form>